<%- include("../../../partials/cabecalho") %>

<section class="container mt-4">
    <h1>Lista de chats</h1>
    <table id="table-all-chats" class="table table-dark table-striped table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Número</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% chats.forEach(chat=>{ %> 
                <tr>
                    <td><%= chat.contact.pushname %> (<%= chat.unreadCount %>) </td>
                    <td><%= chat.id._serialized.replace("@c.us","") %> </td>
                    <td>
                    <a class="btn btn-primary" href="/admin/open-chat/<%= chat.id._serialized %>">Atender</a>
                    </td>
                </tr>
         
            <% }) %>
        </tbody>
    </table>

</section>


<%- include("../../../partials/rodape") %>
<script>
    socket.on("broadcast", ()=>{
        $("#table-all-chats").ready(()=>{
            $("#table-all-chats").load(" #table-all-chats")
        })
    })
</script>