<%- include("../../../partials/cabecalho") %>
<style>
    .detalhe{
        content: "";
        display: block;
        width: 10px;
        height:10px;
        background:#6B952F;
        border-radius: 100%;
        position: absolute;
        top:15px;
        right: 0px;
    }
</style>
<section class="container mt-4">

    <h1>Lista de chats</h1>
    <table id="table-all-chats" class="table table-dark table-striped table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Número</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="table-chats-body">
            <% chats.forEach(chat=>{ %> 
                <tr>
                    <td>
                        <span style="position: relative;" class="username p-3">
                            <%= chat.contact.pushname %>
                            <% if(chat.unreadCount > 0){%>
                                <span class="detalhe"></span>
                            <% } %>
                        </span> 
                    </td>
                    <td><%= chat.id._serialized.replace("@c.us","") %> </td>
                    <td>
                    <a id="btn-atender" data-name="<%= chat.contact.pushname %>" class="btn btn-primary" href="/admin/open-chat/<%= chat.id._serialized %>">Atender</a>
                    </td>
                </tr>
         
            <% }) %>
        </tbody>
    </table>

</section>


<%- include("../../../partials/rodape") %>
<script>
    socket.on("broadcast", ()=>{
        $("#table-all-chats").ready(()=>{
            $("#table-all-chats").load(" #table-all-chats")
        })
    })
    socket.on("refresh-chats", ()=>{
        $("#table-all-chats").ready(()=>{
            $("#table-all-chats").load(" #table-all-chats")
        })
    })
   

</script>