<%- include("../partials/cabecalhoresponder") %>

<div class="container fs-4">

<div id="chat-from" style="height: 100vh;max-height: 100vh;" class="chat-from card bg-dark text-center">
    <div class="card-header bg-dark text-white">
        <div class="d-flex justify-content-between">
            <a class="btn btn-primary" href="/admin/chats">Voltar</a>
            <span><%= messages[0].sender.pushname %></span>
        </div>
    </div>
    <div id="chat-body" style="overflow-y:auto;max-height:100%;height: 100%;" class="card-body d-flex flex-column">
      <% messages.forEach((message)=>{ %>
        <% if(message.from == '558596541425@c.us'){ %>
                <p class="p-2 w-75 reply justify-self-end align-self-end" style="border-radius:20px;text-align:left;background-color:#555;color:#fff"><small class="fw-bold"><%= message.sender.pushname %></small><br> <%= message.body %></p>
        <% }else{%>
                <p class="p-2 w-75" style="border-radius:20px;text-align:left;background-color:#333;color:#fff"><small class="fw-bold"><%= message.sender.pushname %></small><br><%= message.body %></p>
        <%}%>
        <% if(message.isMedia && message.type == "image"){ %>
            <img width="250" height="250" src="data:image/jpeg;base64,<%= message.body %>" alt="">
        <% } %>
      <% }) %>
    </div>
    <div class="card-footer text-body-secondary">
        <div class="form-group d-flex">
            <input placeholder="Digite sua mensagem" type="text" name="message" id="message" class="form-control p-3 fs-4">
            <button id="send-message" class="btn text-white"><i class="bi bi-send-fill"></i></button>
        </div>
      
    </div>
  </div>
</div>

<%- include("../partials/rodape") %>
<script>
    let url = window.location.href.split("/")
    let number = url[url.length - 1];

    let messageField = document.querySelector("#message")
    let btnSendMessage = document.querySelector("#send-message")

    messageField.addEventListener("keypress", (e)=>{
        if(e.key.toLowerCase() == 'enter'){
            send();
        }
    })

    btnSendMessage.addEventListener("click", (e)=>{
        e.preventDefault();
        send();
    })
    function send(){
        let msg = messageField.value
        messageField.value = '';
        messageObj = {
            to: number,
            from:"",
            message: msg
        }
        if(msg != ""){
            socket.emit("msg", messageObj);
        }else{
            alert("O campo de mensagem não pode estar vazio.");
        }
    }
    $(".chat-body").ready(()=>{
        $('#chat-body').animate({                   // unsando o jQuery animate para animar o scroll
            scrollTop: $('#chat-body').prop('scrollHeight')  // fazer scroll para a posição correspondente à altura do 'ul', o que é o mesmo que dizer scroll até ao fundo
        }, 500); 
    }) 
    
    socket.on('broadcast', (message)=>{
        if(message.from == number){
            $("#chat-body").append(`<p class="p-2" style="w-75 border-radius:20px;text-align:left;background-color:#333;color:#fff"><small class="fw-bold">${message.sender.pushname}</small><br> ${message.body} </p>`)
            $(".chat-body").ready(()=>{
            $('#chat-body').animate({                   // unsando o jQuery animate para animar o scroll
                scrollTop: $('#chat-body').prop('scrollHeight')  // fazer scroll para a posição correspondente à altura do 'ul', o que é o mesmo que dizer scroll até ao fundo
            }, 500); 
            }) 
        }
    })
 
    socket.on("atendente", (data)=>{
        $("#chat-body").append(`<p class="p-2" style="w-75 border-radius:20px;text-align: right;background-color:#555;color:#fff"><small class="fw-bold">Sala de aula - Professores</small><br> ${data.message}</p>`)             
        $(".chat-body").ready(()=>{
        $('#chat-body').animate({                   // unsando o jQuery animate para animar o scroll
            scrollTop: $('#chat-body').prop('scrollHeight')  // fazer scroll para a posição correspondente à altura do 'ul', o que é o mesmo que dizer scroll até ao fundo
        }, 500); 
    }) 
    })

</script>