<%- include("../partials/cabecalhoresponder") %>

<div class="container fs-4">

<div id="chat-from" style="height: 100vh;max-height: 100vh;" class="chat-from card bg-dark text-center">
    <div class="card-header bg-dark text-white">
        <div class="d-flex justify-content-between">
            <a class="btn btn-primary" href="/admin/chats">Voltar</a>
            <span><%= messages[0].sender.pushname %></span>
        </div>
    </div>
    <div id="chat-body" style="overflow-y:auto;max-height:100%;height: 100%;" class="card-body d-flex flex-column">
      <% messages.forEach((message)=>{ %>
        <% if(message.from == '558596541425@c.us'){ %>
                <% if(message.isMedia && message.type == "image"){ %>
                    <img id="<%= message.id %>" style="color:#000;background:#fff;border-radius:10px" title="Clique para baixar a imagem" data-bs-toggle="modal" data-bs-target="#exampleModal" class="m-1 image-small justify-self-end align-self-end" width="250" height="250"  alt="Clique para baixar">
                <%}else if(message.type == "vcard"){%>
                    <div class="card w-75">
                        <h5 class="card-header"><%= message.vcardFormattedName %></h5>
                        <div class="card-body">
                            <a href="https://wa.me/<%= message.body.substring(message.body.indexOf("waid=")+5, message.body.indexOf(":+")) %>" class="btn btn-primary">Conversar</a>
                        </div>
                    </div>
                <%}else{%>
                    <p class="p-2 w-75 reply justify-self-end align-self-end" style="border-radius:20px;text-align:left;background-color:#555;color:#fff"><small class="fw-bold"><%= message.sender.pushname %></small><br> <%= message.body %></p>
                <%}%>
        <% }else{%>
                <% if(message.type == "image"){ %>
                    <img id="<%= message.id %>" style="color:#000;background:#fff;border-radius:10px" title="Clique para baixar a imagem" data-bs-toggle="modal" data-bs-target="#exampleModal" class="m-1 image-small" width="250" height="250" alt="Clique na imagem para baixar">
                <%}else if(message.type == "vcard"){%>
                    <div class="card w-75">
                        <h5 class="card-header"><%= message.vcardFormattedName %></h5>
                        <div class="card-body">
                          <a href="https://wa.me/<%= message.body.substring(message.body.indexOf("waid=")+5, message.body.indexOf(":+")) %>" class="btn btn-primary">Conversar</a>
                        </div>
                      </div>
                <%}else{%>
                    <p class="p-2 w-75" style="border-radius:20px;text-align:left;background-color:#333;color:#fff"><small class="fw-bold"><%= message.sender.pushname %></small><br>
                    <img style="border-radius: 100%;width:35px;height:35px" src="<%= messages[0].image %>" alt="">
                    <%= message.body %>
                    </p>
                <%}%>
           
        <%}%>        
            
      <% }) %>
    </div>
    
    <div class="card-footer text-body-secondary">
        <div class="form-group d-flex">
            <input placeholder="Digite sua mensagem" type="text" name="message" id="message" class="form-control p-3 fs-4">
            <button id="send-message" class="btn text-white"><i class="bi bi-send-fill"></i></button>
            <button id="send-message" class="btn text-white" data-bs-toggle="modal" data-bs-target="#modalvcard"><i class="bi bi-paperclip"></i></button>
        </div>
      
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div style="height: 100%;width:100%;" class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div style="width: 100%; height:100%" class="modal-body">
          <img style="max-width:100%;width:100%" id="image-expand" src="" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal VCARD-->
<div class="modal fade" id="modalvcard" tabindex="-1" aria-labelledby="modalvcardLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalvcardLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="modal-attachment" class="modal-body">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Meus contatos
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <form action="/admin/send-contact" method="POST">
                            <input type="text" name="displayName" value="Cleane Damasceno">
                            <input type="text" name="number" value="5585">
                        </form>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Accordion Item #2
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Accordion Item #3
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<%- include("../partials/rodape") %>
<script>
    let imageSmall = document.querySelectorAll(".image-small")
    imageSmall.forEach((i)=>{
        i.addEventListener("click", (e)=>{
            fetch("/download-image/"+e.target.id)
            .then((res)=>{
                return res.json();
            }).then((res)=>{
                e.target.src = res;
                document.querySelector("#image-expand").src = res;
            })
            
        })
    })
    function getImage(){
        let imageSmall = document.querySelectorAll(".image-small")
        imageSmall.forEach((i)=>{
            i.addEventListener("click", (e)=>{
                fetch("/download-image/"+e.target.id)
                .then((res)=>{
                    return res.json();
                }).then((res)=>{
                    e.target.src = res;
                    document.querySelector("#image-expand").src = res;
                })
                
            })
        })
    }
    let url = window.location.href.split("/")
    let number = url[url.length - 1];

    let messageField = document.querySelector("#message")
    let btnSendMessage = document.querySelector("#send-message")

    messageField.addEventListener("keypress", (e)=>{
        if(e.key.toLowerCase() == 'enter'){
            send();
        }
    })
    imageSmall.forEach((i)=>{
        i.addEventListener("click", (e)=>{
            fetch("/download-image/"+e.target.id)
            .then((res)=>{
                return res.json();
            }).then((res)=>{
                console.log(res);
                e.target.src = res;
            })
        })
    })
    btnSendMessage.addEventListener("click", (e)=>{
        e.preventDefault();
        send();
    })

    function send(){
        let msg = messageField.value
        messageField.value = '';
        messageObj = {
            to: number,
            from:"",
            message: msg
        }
        if(msg != ""){
            socket.emit("msg", messageObj);
        }else{
            alert("O campo de mensagem não pode estar vazio.");
        }
    }
    $(".chat-body").ready(()=>{
        $('#chat-body').animate({                   // unsando o jQuery animate para animar o scroll
            scrollTop: $('#chat-body').prop('scrollHeight')  // fazer scroll para a posição correspondente à altura do 'ul', o que é o mesmo que dizer scroll até ao fundo
        }, 500); 
    }) 
    $("#chat-body").ready(()=>{
        let imageSmall = document.querySelectorAll(".image-small")
        imageSmall.forEach((i)=>{
            fetch("/download-image/"+i.id)
            .then((res)=>{
                return res.json();
            }).then((res)=>{
                i.src = res;
                document.querySelector("#image-expand").src = res;
            })
        })
    })
    socket.on('broadcast', (message)=>{
        if(message.from == number){
            if(message.type == "image"){
                $("#chat-body").append(`<img id="${message.id}" style="color:#000;background:#fff;border-radius:10px" title="Clique para baixar a imagem" data-bs-toggle="modal" data-bs-target="#exampleModal" class="m-1 image-small" width="250" height="250" alt="Clique na imagem para baixar">`)
                getImage();
            }else{
                $("#chat-body").append(`<p class="p-2" style="w-75 border-radius:20px;text-align:left;background-color:#333;color:#fff"><small class="fw-bold">${message.sender.pushname}</small><br> ${message.body} </p>`)
            }
            $(".chat-body").ready(()=>{
            $('#chat-body').animate({                   // unsando o jQuery animate para animar o scroll
                scrollTop: $('#chat-body').prop('scrollHeight')  // fazer scroll para a posição correspondente à altura do 'ul', o que é o mesmo que dizer scroll até ao fundo
            }, 500); 
            }) 
        }
    })
 
    socket.on("atendente", (data)=>{
        $("#chat-body").append(`<p class="p-2" style="w-75 border-radius:20px;text-align: right;background-color:#555;color:#fff"><small class="fw-bold">Sala de aula - Professores</small><br> ${data.message}</p>`)             
        $(".chat-body").ready(()=>{
        $('#chat-body').animate({                   // unsando o jQuery animate para animar o scroll
            scrollTop: $('#chat-body').prop('scrollHeight')  // fazer scroll para a posição correspondente à altura do 'ul', o que é o mesmo que dizer scroll até ao fundo
        }, 500); 
    }) 
    })
    // $("#message").ready(()=>{
    //     document.querySelector("#message").addEventListener("keypress", (e)=>{
    //         if(e.key == "/"){
    //             alert("Olá")
    //         }
    //     })
    // })
    // $("#modal-attachment").ready(()=>{
    //     fetch("/admin/pegar-contatos", {method:"GET"})
    //     .then((res)=>{return res.json()})
    //     .then((res)=>{
    //         let contatos = res.filter((contatos)=>{
    //             return contatos.id.server == "c.us"
    //         })
    //         console.log(contatos)
    //     })
    // })
</script>